body {
    
}

.page-section{
    height: 300px;
}

#home.page-section{
    text-align: left;
    background-color: #BDE739;
}

#mvc.page-section{
    text-align: right;
    background-color: #5959FF;
}

#authetication.page-section{
    text-align: right;
    background-color: #2317AD;
}

#persistence.page-section{
    background-color:#D82A2A;;
}

#websockets.page-section{
    background-color:#666;
}